.panel_Midland {
    background-image: url(../../../../../public/pergaminho.jpg);
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -khtml-background-size: cover;
    -moz-background-size: cover;

    border: 10px solid #652e06;
    padding: 20px;
    width: 300px;
}